		<div class="container-fluid">
			<div class="row">
							<nav class="navbar navbar-default navbar-inverse"id="gg">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
								<a class="navbar-brand" href="#"><img src="Roblogo.png" height="30" class="animated slideInLeft"></a>
						</div>
					<div class="navbar-collapse collapse">
							<ul id="b" class="nav navbar-nav navbar-right ">
									<li class="active"><a href="#">HOME</a></li>
									<li class="dropdown"><a  class="dropdown-toggle" data-toggle="dropdown"href="#">ABOUT US<span class="caret right"></span</a>
										<ul class="dropdown-menu drop" style="margin-left:140px; float-left;">
											<li id="sec">
											<a href="#">PORTFOLIO</a></li>
											<li> <a href="#">HOME</a></li>
											<li> <a href="#">HOME</a></li>
										</ul>
								</li>
								<li><a href="#">PRODUCTS & SERVICES</a></li>
								<li><a href="#">SOFTWARE DOWNLOADS</a></li>
								<li Style="color:white;"><a href="#"><button class="btn btn-danger">CALL US +234 809 963 6703 </button></a></li>
							</ul>
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<input type="text" class="form-control " placeholder="search"/>
							</div>
								<button type="submit" class="btn btn-success">submit</button>
						</form>
					</div>
				</nav>
			</div>
		</div>
		
		
		
		
		
		
		